body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind forms;
@layer components {
  .input {
    @apply form-input px-2 py-1 rounded-md bg-blue-50 placeholder-gray-500 placeholder-opacity-75 w-full;
  }
  .btn {
    @apply h-7 rounded ring-2 mt-2.5;
  }
  .btn-submit {
    @apply bg-blue-200 text-indigo-900;
  }
  .btn-cancel {
    @apply bg-red-300 ring-red-400 text-red-900 mr-2.5;
  }
  .nav-ul {
    @apply inline-grid grid-cols-1 md:grid-cols-3 gap-x-4 place-items-stretch border-b
  }
  .nav-link {
    @apply text-blue-900 hover:text-blue-500 text-xl;
  }
  .nav-li {
    @apply mr-1 mt-1 active:bg-blue-100;
  }
  .post-wrapper {
    @apply inline-grid grid-cols-1 md:grid-cols-3 gap-x-4 place-items-stretch
  }
  .card {
    @apply shadow-md rounded-md mt-8 bg-blue-100
  }
  .card-header {
    @apply grid p-2 h-auto lg:h-16 rounded-md bg-blue-300 grid-cols-12
  }
  .modal {
    @apply justify-center items-center flex overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none;
  }
  .modal-wrapper {
    @apply relative w-auto my-6 mx-auto max-w-3xl
  }
  .modal-body {
    @apply border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none
  }
  .modal-header {
    @apply flex items-start justify-between p-5 border-b border-solid border-gray-200 rounded-t
  }
  .modal-footer {
    @apply flex items-center justify-end p-6 border-t border-solid border-gray-200 rounded-b
  }
}
